<div class="row">
   <div class="col-md-5 text-center">
      <img src="{{ ChildrenToy.image }}"
      width="300" height="300">
      <h3>{{ ChildrenToy.name }}</h3>
   </div>
   <div class="col-md-7">
      <ul>
         <li>TradeMark: {{ ChildrenToy.TradeMark }}</li>
         <li>Price: {{ ChildrenToy.Price }}</li>
         <li>Describe: {{ ChildrenToy.Describe }}</li>
      </ul>
   </div>
</div>